.container {
    width: 100%;
    height: 2vh;
    
     background: 
	linear-gradient(151deg, rgba(14, 2, 14, 0.644), rgba(17, 10, 31, 0.877)),
	radial-gradient(circle at 40% 124%, rgba(29, 19, 71, 0.356), rgb(36, 4, 34)),
	url(https://grainy-gradients.vercel.app/noise.svg);
    color: var(--brand-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
/* border-radius: 20px 20px 0 0; */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
   height: 100%;
}

.iconWrapper {
    filter: invert(1) brightness(0.9);
    mix-blend-mode: color-dodge;
    
}

.icon {
    transform: scale(0.8);
}

.icon:hover {
    transform: scale(1);
    cursor: pointer;
    filter: brightness(1.5);
}