.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.233);
    padding: 2rem;
}

.questionWrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 20px;
    background-color: var(--main-bg);
  background: linear-gradient(151deg, #f7f7f76e, #ffffff48),
    radial-gradient(circle at 40% 124%, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.answer {
    color: rgba(255, 255, 255, 0.795);
    font-size: 18px;
    text-align: center;
    padding-top: 2rem ;
    height: fit-content;
    transition: 15ms;
}


.hidden {
    color: rgba(255, 255, 255, 0);
    height: 0px;
    overflow: hidden;
    transition: 2ms;
    font-size: 18px;
    text-align: center;
}

