.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
    width: 100%;
    margin: 0 auto;
    
    padding: 3rem;
    text-align: center;
    gap: 2rem;

    grid-area: text;
    display: flex;
    align-items: center;
    
}