.container {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin: 0px;
    font-size: 18px;
    mix-blend-mode: normal;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem; margin-bottom: 2rem;
}

.text {
    margin: auto;
    font-size: 18px;
    padding: 2rem 0px 3rem 0px;
}

.video {
    
     aspect-ratio: auto 16 / 9;
     
    padding: 2rem;
}


.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    font-size: 18px;
     transition: 1s ease;
     filter: opacity(1);
}

.hidden {
    font-size: 18px;
    width: 90vw;
    height: 0px;
    overflow: hidden;
    filter: opacity(0);
    transition: filter 0.5s ease-out, height 0.8s ease-in-out;
}

