.items {
   padding: 3rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    align-content: space-around;
}

.alt {
    background-color: rgba(0, 0, 0, 0.233);
     mask-image: linear-gradient(
    to top,
    transparent,
    rgba(177, 177, 177, 0.8) 5%,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255) 85%,
    rgba(173, 173, 173, 0.8) 95%,
    transparent)
  ;

  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    rgba(177, 177, 177, 0.8) 5%,
    rgb(255, 255, 255) 15%,
    rgb(255, 255, 255) 85%,
    rgba(173, 173, 173, 0.8) 95%,
    transparent)
}

.title {
    font-size: 20px;
    padding: 0px 0px 2rem 0px;
    margin: 0px;
    mix-blend-mode: normal;
    color: white;
    text-align: center;
}

@media screen and (max-width: 810px) {
    .title {
        font-size: 2.5rem;
    }
}