.container {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 3fr;
     grid-template-areas: "text image1 image1"
                          "image2 image1 image1";
     justify-content: center;
    width: 100%;
    margin: 0 auto;
    
    padding: 3rem;
    text-align: center;
    gap: 2rem;
}

.text {
    grid-area: text;
    display: flex;
    align-items: center;
}

.imageOneWrapper {
    grid-area: image1;
    position: relative;
    display: block;
}

.imageTwoWrapper {
    grid-area: image2;
    position: relative;
    display: block;
}

.imageOne, .imageTwo {
    position: absolute;
    object-fit: cover;
    object-position: center bottom;
}