.container {
    min-height: 100vh;

}

.headerImage {
    position: absolute;
    filter: grayscale(1) brightness(0.3) contrast(1.6);
    object-fit: cover;
  object-position: 0vw -12vw;
}

.text {
  font-size: 18px;
  line-height: 1.4;
}

.header {
    height: 50vh;
    overflow: hidden;
    position: relative;
      mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 25%,
   
    rgba(0, 0, 0, 0.027) 99%,
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 25%,

    rgba(0, 0, 0, 0.027) 99%,
    transparent
  );
}

.header::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('../public/assets/vhs01.webp');
  opacity: 0.3;
  background-size: auto;
  background-repeat: repeat;
  mix-blend-mode: lighten;
      mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0.096) 60%,
    rgba(0, 0, 0, 0.027) 98%,
    transparent)
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top:20vh;
    padding: 0px 5%;
 gap: 2rem;
    justify-content: space-between;
}

.title {
     mix-blend-mode: normal;
     font-size: 30px;
}

.cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

@media screen and (max-width: 810px) {

.cards{
  margin: 3rem 0px;
}  

.listContainer {
  margin-top: 7rem;
}
}