@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');

:root {
  --main-bg: #07050f;
  /* --brand-purple: #623E8F; */
  --brand-purple: rgb(166, 78, 248);
  /* --brand-pink: #FF82B1; */
  --brand-pink: white;
  --brand-hot-pink: #A649A2;
  --phone-breakpoint: 810px;
}

html,
body {
  background-color: var(--main-bg);
  background: 
	linear-gradient(151deg, rgb(0, 0, 0), rgba(56, 36, 97, 0)),
	radial-gradient(circle at 40% 124%, rgb(10, 4, 37), rgba(105, 39, 102, 0)),
	url(https://grainy-gradients.vercel.app/noise.svg);
  padding: 0;
  margin: 0;
font-family: 'Josefin Sans', sans-serif;
  scrollbar-color: var(--brand-purple) var(--main-bg) ;


}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
      font-size: 3rem;
    color: white;
    mix-blend-mode: color-dodge;
    filter: brightness(0.9);
}

p {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 810px) {
p{
  font-size: 1.3rem;
}
h2{
  font-size: 2.5rem;
}
}