.header {
  position: relative;
  bottom: 10vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  mask-image: gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  box-shadow: none;
}


.matt {
  object-fit: cover;
  object-position: 20vw -15vh;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.096) 60%,
    rgba(0, 0, 0, 0.027) 70%,
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.096) 60%,
    rgba(0, 0, 0, 0.027) 70%,
    transparent
  );
  filter: grayscale(1) brightness(1.5) contrast(1.5);
}

.headerImage {
  position: relative;
  display: block;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

/* .headerImage::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('../public/assets/vhs01.webp');
  opacity: 0.5;
  background-size: auto;
  background-repeat: repeat;
  mix-blend-mode: lighten;
} */

.headerImage::after {
  position: absolute;
  height: 110%;
  width: 100%;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('../public/assets/vhs02.webp');
  opacity: 0.5;
  background-size: cover;
  background-repeat: repeat;
  mix-blend-mode: saturation;
}

@media screen and (max-width: 810px) {
 .header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headerImage {
  position: relative;
  display: block;
  width: 100%;
  height: 220vw;
  overflow: hidden;
  
}

.matt {
  object-fit: cover;
  object-position: center -23vh;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.096) 60%,
    rgba(0, 0, 0, 0.027) 70%,
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0.096) 60%,
    rgba(0, 0, 0, 0.027) 70%,
    transparent
  );
  filter: grayscale(1) brightness(1.5) contrast(1.5);
}

}