.container {
  position: absolute;
  top: 13vh;
  left: 2vw;
  z-index: 5;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
}

.text {
  z-index: 2;
  font-size: 3rem;
  margin: 2rem;
  font-weight: 600;
  mask-mode: unset;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5);
    text-align: center;
}


@media screen and (max-width: 810px) {
  .container {
    position: absolute;
    top: 10vh;
    left: 0px;
    z-index: 5;
    width: 90%;
    min-height: 80vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
  
  }

  .text {
    font-size: 2.5rem;
  }
}
