.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
   height: 60vh;
  width: calc(80vw + 5px);
  margin: 0 auto;
  gap: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  
  line-height: 1.4;
    
}

@media screen and (max-width: 810px) {
  .container {
    
    max-height: 90vh;
    position: relative;
    
  }

  .text {
    font-size: 1.5rem;
  }
}