.navWrapper {
    
    z-index: 2;
    height: 20vh;
    width: 100vw;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 10vw;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100vw;
}