/* .navWrapper {
    
    z-index: 2;
    height: 20vh;
    display: flex;

}

.nav {
    display: flex;
    flex-direction: row;
    height: 10vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;
 
}
 */
