.tab {
    position: relative;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(219, 177, 219);
    

    
}



.tab:hover {
    color: white;
    cursor: pointer;

}

