.reviewContainer {
  position: relative;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'image content content'
    'image content content'
    'image  stars stars'
    'image author author';
       background: 
	linear-gradient(0deg, #97cf9a6e, #260a2948),

	url(https://grainy-gradients.vercel.app/noise.svg);
  width: 60%;
  height: 40vh;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
}

.imgWrapper::after{
position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url('../public/assets/vhs01.gif');
  opacity: 0.5;
  background-size: cover;
  background-repeat: repeat;
  mix-blend-mode: exclusion;
}

.reviewImg {
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.imgWrapper {
grid-area: image;
position: relative;
display: block;
overflow: hidden;
height: 100%;
}

.reviewAuthor {
  grid-area: author;
    display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.reviewContent {
  grid-area: content;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.stars {
    grid-area: stars;
    display: flex;
    justify-self: center;
    width: 60%;
   
}
