.container {
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.title {
    mix-blend-mode: normal;
    font-size: 9rem;
    margin: 2rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 2rem;
    height: 400px;
}