.container {
    min-width: 350px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.137);
    padding: 1rem 2rem;
}

.title {
    margin-bottom: 0px;
}

.label {
    margin-top: 0px;
    color: white;
}

.player {
    max-width: 100%;
    height: minmax(80px, 500px);
    margin: 0px;
}

.video{
    max-width: 100%;
 aspect-ratio: 16 / 9;
}

.optionsWrapper {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icon {
    filter: invert(1) brightness(0.9);
    height: 100%;
    cursor: pointer;
}

.iconWrapper {
    height: 30px;
    width: 30px;
}

.iconWrapper:hover{
    transform: scale(1.1)
}

.notes {
    height: max-content;
}

.hidden {
    height: 0px;
    filter: opacity(0);
}

.notesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notesText {
    font-size: 1.1rem;
    line-height: 1.4;
}

.close {
    cursor: pointer;
}

