.container {
    min-height: 100vh;
   text-align: center;
    position: relative;
    bottom: 20vh;
}

.spotify {
    /* background: rgba(0, 0, 0, 0.37); */
    padding: 6rem 5rem 0px 5rem;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.showreel {
    
}

.player {
    position: relative;
    left: 1rem;
    height: minmax(80px, 500px);
   
}

.video{
    max-width: 100%;
    min-width: 90vw;
    height: 50%;
 aspect-ratio: 16 / 9;
  mask-image: linear-gradient(
    to bottom,
    transparent 18%,
    rgba(0, 0, 0, 1) 25%
  );
}


.projects {
     display: flex;
    
    flex-wrap: wrap;
    margin: 2rem 2rem 0px 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: left;
}

.projectsHeader {
    width: 80vw;
    text-align: center;
}

@media screen and (max-width: 810px) {
    .container {
    min-height: 100vh;
   text-align: center;
    position: relative;
    bottom: 0px;
}
.video{
    max-width: 100%;
    min-width: 90vw;
    height: 50%;
 aspect-ratio: 16 / 9;
  mask-image: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 95%,
    transparent 98%
  );
}

.player{
    margin-bottom: 2rem;
}
}